# Converting Data Types

In [1]:
num_int = 7

type(num_int)

int

In [2]:
num_str = '7'

type(num_str)

str

In [3]:
nun_str_conv = int(num_str)

type(nun_str_conv)

int

In [6]:
num_sum = num_int + nun_str_conv

print(num_sum)

14

In [7]:
type(num_sum)

int

In [8]:
list_type = [1, 2, 3]

type(list_type)

list

In [9]:
# Let's convert this list to a tuple. 

tuple(list_type)

(1, 2, 3)

In [10]:
type(tuple(list_type))

tuple

In [11]:
# Lets convert the list into a set.

list_type = [1, 2, 3, 3,2,1, 2,3,2,1]

In [12]:
set(list_type)

{1, 2, 3}

In [13]:
type(set(list_type))

set

In [ ]:
# Lets take a look at dictionaries.

In [14]:
dict_type = {'name': 'Alex', 'age':28, 'hair': 'N/A'}

type(dict_type)

dict

In [15]:
dict_type.items()

dict_items([('name', 'Alex'), ('age', 28), ('hair', 'N/A')])

In [16]:
dict_type.values()

dict_values(['Alex', 28, 'N/A'])

In [17]:
dict_type.keys()

dict_keys(['name', 'age', 'hair'])

In [18]:
# Lets take all of the keys and put it into a list.

In [19]:
list(dict_type.keys())

['name', 'age', 'hair']

In [20]:
type(list(dict_type.keys()))

list

In [21]:
type(list(dict_type.values()))

list

In [22]:
# We can convert longer strings to a list

In [24]:
long_str = "I like to party"

list(long_str)

['I', ' ', 'l', 'i', 'k', 'e', ' ', 't', 'o', ' ', 'p', 'a', 'r', 't', 'y']